/* VIRSUTINE NAVIGACIJA PRADZIA */
.top-header {
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .burger-btn,
.top-header .burger-btn rect {
    transition: all 0.3s;
}

/* PASLEPIAM IS PRADZIU NUO MOBILAUS VAIZO */
.top-header .top-header__navigation,
.top-header .top-header__contact-btn {
    display: none;
}

.top-header .burger-btn {
    cursor: pointer;
}

.top-header .burger-btn:hover {

    transform: scale(1.1);
}

.top-header .burger-btn:hover rect {
    fill: #fe9872;
}

@media (min-width: 768px) {
    .top-header {
        padding: 24px 32px;
    }
}


@media (min-width: 1024px) {

    /* ATVAIZDUOJAME TIES PLANSETE */
    .top-header {
        padding: 24px 40px;
    }

    .top-header .top-header__navigation,
    .top-header .top-header__contact-btn {
        display: flex;
    }

    .top-header .top-header__navigation {
        gap: 40px;
    }

    .top-header .top-header__navigation li a {
        line-height: 24px;
        color: var(--text-color);
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
    }

    .top-header .top-header__navigation li a:hover {
        color: var(--primary-color);
        border-bottom-color: solid var(--primary-color);
    }

    .top-header .top-header__contact-btn {
        border: 1px solid var(--primary-color);
        border-radius: 24px;
        padding: 16px 48px;
        color: var(--primary-color);
        font-weight: 700;
        transition: all 0.3s;

    }

    .top-header .top-header__contact-btn:hover {
        background-color: var(--primary-color);
        color: #fff;
    }

    .burger-btn {
        display: none;
    }
}

/* VIRSUTINE NAVIGACIJA PABAIGA */
/* PAGRINDINIO TURINIO ATVAIZAVIMAS */

.main-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 60px 16px 40px 16px;
}

.main-section .main-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section .main-section__picture {
    width: 100%;
    height: clamp(280px, 50vw, 510px);
}

.main-section .main-section__picture img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-section .main-section__content-wrapper p {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .main-section {
        padding: 60px 32px 40px 32px;
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .main-section {
        padding: 60px 40px 52px 40px;
    }
}

/* H1 tago stilius .main-section elemente */
@media (max-width: 1279px) {
    .main-section h1 {
        max-width: 578px;
    }

    .main-section p {
        max-width: 63ch;
    }
}

@media (min-width: 1280px) {
    .main-section .main-section__content {
        flex-direction: row;
        text-align: left;
        align-items: start;
    }
}

.main-section h1,
.main-section .main-section__content-wrapper {
    flex: 1;
}

/* PAGRINDINIO TURINIO PABAIGA */
/* SERVICES SECTION */

.services-section {
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(16px, 1.2vw, 20px);
}

.services-section .services-section__article {
    background-color: var(--services-bg-color);
    border-radius: 20px;
    padding: 24px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column: span 12;
}

.services-section .services-section__article h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--secondary-color);
}

.services-section .services-section__article p {
    color: #4E4B66;
    font-size: 14px;
}

.services-section .services-section__article>div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 768px) {
    .services-section {
        padding: 0 32px;
    }

    .services-section .services-section__article {
        grid-column: span 6;
        align-items: start;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .services-section .services-section__article {
        grid-column: span 3;
    }
}

.animation-section {
    min-height: 100vh;
    background-color: var(--text-color);
    margin-top: 50px;
}

.animation-section .box {
    width: 100px;
    height: 100px;
    background-color: #ff6a3e;
    animation-name: example, backgroundColorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-timing-function: ease-in;
}

@keyframes example {
    0% {
        background-color: #ff6a3e;
        transform: scale(1);
    }

    50% {
        background-color: green;
        transform: scale(2);
    }

    100% {
        background-color: var(--services-bg-color);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes backgroundColorChange {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 200px;
    }
}